.skill-page{
    padding: 40px;
    padding-top: 6%;
    background-color: #FCF8F3;
}

/* skill information card css*/
.skills-information {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;
    background: #f5f5f5;
    border-radius: 16px;
    width: 100%;
}

/* LEFT */
.skill-left {
    flex: 1;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.category {
    background: #2f6f6f;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.level {
    background: #f3d9a4;
    color: #7a4d00;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0;
}

.description {
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* USER */
.skill-user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.skill-user-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.skill-user-info h4{
    display: flex;
    align-items: center;
}

/* STATS */
.stats {
    display: flex;
    gap: 20px;
    color: #555;
    margin-bottom: 20px;
}

/* BUTTONS */
.actions {
    display: flex;
    gap: 15px;
}

.request-btn {
    background: linear-gradient(135deg, #ff7a18, #ffb347);
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.save-btn {
    border: 2px solid #ff7a18;
    background: white;
    padding: 12px 20px;
    border-radius: 25px;
    color: #ff7a18;
    font-weight: bold;
    cursor: pointer;
}

/* RIGHT IMAGE */
.skill-right img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
}


/*skills cards  */
.skills-slider-container {
    padding: 20px;
    color: #000;
}

.skills-slider-container h1{
    font-size: 20px;
    font-weight: bold;
    padding-block: 10px;
}

.no-skills {
    text-align: center;
    color: #777;
    font-size: 18px;
    margin-top: 20px;
}

/* spacing between cards */
.slick-slide {
    padding: 10px;
}

/* center arrows properly */
.slick-prev:before,
.slick-next:before {
    color: #ff7a18 !important;
    font-size: 24px;
    color: #000;
}
