.completed-skills-container{
    padding-top: 15vh;
    min-height: 65vh;
    padding-inline: 2vw;
}

.completed-skills-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}

.completed-card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.completed-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.completed-info{
    text-align: center;
}

.completed-info h3{
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.completed-info p{
    margin: 5px 0;
    color: #777;
}

