.headContainer {
    padding: 50px;
    padding-top: 13vh;
    background-color: #FBF7F3;
}

.previousLink {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #555;
}

.infoContainer {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hostInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hostingBadge {
    background-color: #ff7a00;
    padding: 3px;
    padding-inline: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: #fff;
    font-size: 13px;
    border-radius: 10px;
}

.groupTitle {
    font-size: 30px;
    font-weight: bold;
}

.hostInfo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.hostProfileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.hostName {
    font-weight: bold;
}

.hostName span {
    font-size: 15px;
    color: #666;
    font-weight: normal;
}

.button {
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
    color: #ff7a00;
    border: 2px solid #ff7a00;
    cursor: pointer
}

.headAndControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headAndControl button {
    color: #ff7a00;
}

.controlContainer {
    display: flex;
    gap: 20px;
}


.groupInfoContainer {
    background-color: #FCFAF7;
    padding: 50px;
    display: flex;
    gap: 30px;
    align-items: start;
}

.hr {
    border-color: #777;
}

.infoCards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80vw;
}

.infoCard {
    border: 1.5px solid #e5e7eb;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px 30px;
    width: 100%;
    max-width: 950px;
}

.infoCard h1 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

.infoCard p {
    padding-top: 20px;
    color: #666;
}

.infoCard ul {
    padding-top: 20px;
    padding-left: 20px;
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.infoCard ul li::marker {
    color: #ff7a00;
}

.sessionCard{
    max-width: 30vw;
}

.detailsContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon{
    color: #ff7a00;
    font-size: 20px;
}

.sessionCard p{
    font-size: 15px;
}

.sessionCard h1{
    font-size: 17px;
    color: #444;
}

.sessionCard a{
    color: #2779d5;
    font-weight: bold;
}

.members {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: 20px 0 !important;
}

.membersCard {
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 20px rgba(15, 23, 42, 0.08);
    padding: 10px 30px;
    border-radius: 10px;
}

.membersCard h1 {
    font-size: 20px;
}

.membersCard div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.membersCard p {
    padding: 0;
    font-size: 14px;
}

.emailAndPhone a {
    color: #777;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.leaveButton{
    margin-right: 10px;
    color: #ff7a00;
    background: linear-gradient(90deg, #df1f1f, #c23331);
    padding: 10px 30px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
}


.joinRequestButton {
    margin-right: 10px;
    color: #ff7a00;
    background: linear-gradient(90deg, #ff7a00, #ff9900);
    padding: 10px 30px;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
}

.manageRequestButton{
    margin-right: 10px;
    border: 2px solid #ff7a00;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    color: #ff7a00;
}

@media (max-width: 780px) {
    .headContainer {
        padding: 30px;
    }

    .infoContainer {
        flex-direction: column;
        gap: 15px;
    }

    .groupInfoContainer {
        padding: 30px;
        flex-direction: column;
    }

    .infoCards{
        width: 100%;
    }

    .sessionCard{
        min-width: 100%;
    }

    .members {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        overflow: scroll;
        padding: 0 !important;
    }

    .membersCard {
        justify-content: space-between;
        padding: 5px 2px;
        width: fit-content;
        box-shadow: none;
    }
}