.container {
  max-width: 90%;
  margin: auto;
  
}
.requests-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

h4 {
  margin-top: 30px;
  color: #6b7280;
}

/* Badge */
.badge {
  float: right;
  background: #ff7a45;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  
}

/* Card */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border-left: 4px solid #ff7a45;
}

/* Left */
.left {
  display: flex;
  gap: 15px;
}

.profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

/* Info */
.info h3 {
  margin: 0;
}

.username {
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}

/* Skills */
.skills {
  margin: 5px 0;
}

.tag {
  background: #eef2ff;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 13px;
}

/* Message */
.message {
  color: #4b5563;
  font-size: 14px;
}

/* Time */
.time {
  font-size: 12px;
  color: gray;
  display: flex;
  gap: 10px;
}

/* Right */
.right {
  text-align: right;
}

/* Status */
.status {
  background: #e6fffa;
  color: #0f766e;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
}

/* Buttons */
.btn {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
}

.accept {
  background: #ff7a45;
  color: white;
}

.decline {
  background: transparent;
  color: #374151;
}


/* Right side alignment */
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

/* Buttons container */
.actions {
  display: flex;
  gap: 8px;
}

/* Better button look */
.btn {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
}

.accept {
  background: #ff7a45;
  color: white;
}

.decline {
  background: #f3f4f6;
  color: #374151;
}

/* Status */
.status.pending {
  background: #e6fffa;
  color: #0f766e;
}