.footer{
    background-color: #f1eeee;
    padding: 30px 20px;
    border-top: 1px solid #e7e7e7;
}

.footer-content{
    display: flex;    
    align-items: flex-start;        
    gap: 20px;
}
.logo {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
}

.swap-icon-con {
    margin-inline-end: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #E8724B, #F5A623);
    display: flex;
    align-items: center;
    padding: 10px;
}

.swap-icon {
    color: #fff;
    font-size: 1.5rem;
}

.logo span {
    color: #E8724B;
    background: linear-gradient(90deg, #E8724B, #F5A623);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-contact-container{
    display: flex;
    flex-direction: column;        
    gap: 10px;
}

.logo-contact-container p{
    font-size: 0.9rem;
    color: #555;
    min-width: 25%;
}

.contact-container{
    margin-top: 15px;
    font-size: 0.9rem;
    display: flex;    
    gap: 15px;
}

.contact-container a{
    text-decoration: none;
    color: #555;
}

.contact-container a:hover{
    color: #E8724B;
    scale: 1.3;
}

.contact-icon{
    margin-inline-end: 5px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.footer-about{
    display: flex;
    gap: 50px;
}

.footer-about div h3{
    margin-bottom: 10px;
    font-size: 1.2rem;
    width: 250px;
}

.footer-about .about h3{
    width: auto;}

.footer-about div h3{
    margin-block: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 150px;
    color: #333;
}
.footer-about div p{
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 8px;
}

.footer-bottom{
    margin-top: 30px;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    border-top: 1px solid #e7e7e7;
    padding-top: 15px;
}
.footer-bottom p{
    margin: 0;
}