@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root{
  margin: 0;
  padding: 0;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* visible state */
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}