/* CoverPoints.module.css */

.container{
    width: 100%;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 22px;
    padding: 30px;
    box-sizing: border-box;
    max-width: 950px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.titleWrapper{
    display: flex;
    align-items: center;
    gap: 12px;
}

.titleWrapper h2{
    font-size: 20px;
    font-weight: 700;
    color: #0f172a;
}

.icon{
    color: #f97316;
}

.actions{
    display: flex;
    align-items: center;
    gap: 14px;
}

.editBtn{
    color: #f97316;
    cursor: pointer;
}

.saveBtn,
.cancelBtn{
    border: none;
    background: transparent;
    cursor: pointer;
}

.saveBtn{
    color: #16a34a;
}

.cancelBtn{
    color: #0f172a;
}

.pointsList{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 28px;
    list-style-type: disc;
}

.point{
    font-size: 18px;
    color: #475569;
    line-height: 1.6;
}

.point::marker{
    color: #f97316;
}

.editList{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.editItem{
    display: flex;
    align-items: center;
    gap: 18px;
}

.dot{
    color: #f97316;
    font-size: 23px;
}

.input{
    flex: 1;
    height: 40px;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    padding: 0 20px;
    font-size: 15px;
    outline: none;
}

.input:focus{
    border-color: #f97316;
}

.deleteBtn{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #64748b;
}

.addBtn{
    width: fit-content;
    margin-top: 10px;
    height: 40px;
    padding: 0 24px;
    border-radius: 16px;
    border: 2px solid #f97316;
    background: white;
    color: #f97316;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 20px;
    font-weight: 600;
}

.emptyText{
    font-size: 20px;
    color: #64748b;
}