# change with your own credentials
VITE_AUTH_API_URL=http://localhost:5000/api/auth
VITE_SKILL_API=http://localhost:5000/api/skills
VITE_PROFILE_API=http://localhost:5000/api/profile
VITE_FRONTEND_URL=http://localhost:5173
VITE_BACKEND_API=http://localhost:5000/api
VITE_BACKEND=http://localhost:5000
