.profile-page {
    padding-top: 90px;
}

.modal-content {
    background: #f5f5f5;
    width: 500px;
    padding: 35px;
    border-radius: 20px;
    outline: none;
}

.modal-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
}

.profile-update-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.profile-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image-input {
    display: none;
}

/* Main avatar container */
.avatar-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

/* Avatar icon */
.avatar-icon {
    font-size: 110px;
    transition: 0.3s ease;
    color: #ff7a00;
}

.profile-selected-image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

/* Camera icon */
.camera-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;

    background: #fff;
    color: #000;


    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    font-size: 14px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Hover effect */
.avatar-container:hover .avatar-icon {
    color: #ff7a00;
    transform: scale(1.05);
}

.avatar-container:hover .camera-icon {
    transform: scale(1.1);
}

/* Input Styling */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group input,
.form-group textarea {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.form-group textarea {
    resize: none;
    height: 80px;
}

/* Buttons */
.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 10px;
}

.cancel-btn {
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid #ff7a00;
    background: transparent;
    color: #ff7a00;
    cursor: pointer;
}

.save-btn {
    padding: 10px 22px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, #ff7a00, #ff9900);
    color: white;
    cursor: pointer;
}