.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    background-color: #FCFAF7;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2.5rem;
}

.swapIconCon {
    margin-inline-end: 8px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #E8724B, #F5A623);
    display: flex;
    align-items: center;
    padding: 10px;
}

.swapIcon {
    color: #fff;
    font-size: 1.5rem;
}

.logo span {
    background: linear-gradient(90deg, #E8724B, #F5A623);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.authLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

.signUp button {
    color: #fff;
    background-image: linear-gradient(to right, #E8724B, #F5A623);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
}

.signUp button:hover {
    cursor: pointer;
    scale: 1.1;
}

.login button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
}

.login button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: #e2e1e0;
    border-radius: 30px;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.mobileAuthLinks{
    display: none;
}

/* MOBILE */
@media (max-width: 768px) {

    .logo h1 {
        font-size: 1.5rem;
    }

    .swapIconCon {
        padding: 6px;
    }

    .swapIcon {
        font-size: 1.2rem;
    }

    .authLinks {
        display: none;
    }

    .mobileAuthLinks {
        display: flex;
    }

    .authLinks li {
        width: 100%;
        text-align: center;
    }

}