.reset-password-page{
    height: 100vh;
    background-image: linear-gradient(to right, #E8724B, #F5A623);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-form-container{
    display: flex;
    flex-direction: column;
    gap: 30px;    
    align-items: center;
    background-color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 20px;
    width: 350px;
}

.reset-form-container h1{
    font-size: 2rem;
    font-weight: bold;
}

.reset-form-container span {
    color: #E8724B;
    background: linear-gradient(90deg, #E8724B, #F5A623);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submit-btn{
    color: #fff;
    font-weight: bold;
    background: linear-gradient(90deg, #E8724B, #F5A623);
    width: 250px; 
    border-radius: 50px;
    cursor: pointer;
}

.error-message{
    color: red;
    font-size: 0.8rem;
    margin-top: -5px;
}