.dashboard-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FCFAF7;
}
.banner-section {
    background-image: linear-gradient(135deg, #FDFAF8, #f4dfc0);
    padding: 2rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-section h1 {
    font-size: 5rem;
    width: 75%;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.banner-section h1 span {
    background: linear-gradient(90deg, #E8724B, #F5A623);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-section p {
    font-size: 1.5rem;
    color: #999696;
    width: 60%;
    text-align: center;
    margin-bottom: 2rem;
}

.banner-section p:hover {
    background: linear-gradient(90deg, #E8724B, #F5A623);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-section .banner-buttons {
    display: flex;
    gap: 2rem;
}

.banner-buttons a {
    text-decoration: none;
}

.banner-buttons button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    border: none;
}

.swapping-button {
    background-image: linear-gradient(to right, #E8724B, #F5A623);
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
}

.swapping-button:hover {
    scale: 1.05;
}

.browse-skills-button {
    background-color: #fff;
    color: #E8724B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.browse-skills-button:hover {
    scale: 1.05;
    box-shadow: 0 0 15px rgba(248, 154, 2, 0.2);
}

.categories-section .container .head-section h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 40px;

}

.head-section p{
    font-size: 1.2rem;
    color: #777777;
    text-align: center;
    margin-bottom: 2rem;
}

.categories-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    text-align: center;    
    gap: 30px;
    padding: 30px;
} 

.categories{
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    display:flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.categories:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.categories span {
    font-size: 3rem;
}

