
# NOTE: change all field with your credentials

PORT=5000
MONGO_URI=mongodb+srv://user:password@cluster0.bdkba.mongodb.net/skillswap
JWT_SECRET=jwtToken
JWT_EXPIRE=30d

GOOGLE_CLIENT_ID=79761664-kngkangk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=lgoqgoq-langoqihgo
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

EMAIL_SERVICE=gmail
EMAIL_USER=example.email@gmail.com
EMAIL_PASS=rgkqjojqo
EMAIL_FROM=SkillSwap <example.email@gmail.com>

GITHUB_CLIENT_ID=a4AG656ag6g
GITHUB_CLIENT_SECRET=6486ag6rg6q4g6rqg9r
GITHUB_CALLBACK_URL=http://localhost:5000/api/auth/github/callback


#profile image
CLOUDINARY_API_KEY=123455676788
CLOUDINARY_API_SECRET=abcdef-ghighkla
CLOUDINARY_CLOUD_NAME=knkaigiq

BACKEND_LINK=http://localhost:5000
FRONTEND_URL=http://localhost:5173
